In [1]:
# Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load the data into pandas dataframes
members = pd.read_csv('./Filtered_Dataset/members_filtered.csv')
transactions = pd.read_csv('./Filtered_Dataset/transactions_filtered.csv')
user_logs = pd.read_csv('./Filtered_Dataset/user_logs_filtered.csv')
labels = pd.read_csv('./Filtered_Dataset/labels_filtered.csv')
features_all = pd.read_csv('./features_all.csv')

In [ ]:
# Getting the date in YMD format

def pd_to_date(df_col):
    df_col = pd.to_datetime(df_col, format = '%Y%m%d')
    return df_col

In [ ]:
# Getting the timestamps in a consistent format
# Great for EDA, not so much for analysis

# user_logs['date'] = pd_to_date(user_logs['date'])
# transactions['transaction_date'] = pd_to_date(transactions['transaction_date'])
# transactions['membership_expire_date'] = pd_to_date(transactions['membership_expire_date'])
# members['registration_init_time'] = pd_to_date(members['registration_init_time'])

In [3]:
# Getting more info on data

print('Members: \n')
members.info()
print()
print('Labels: \n')
labels.info()
print()
print('Transactions: \n')
transactions.info()
print()
print('User Logs: \n')
user_logs.info()
print()
print('All Features: \n')
features_all.info()

Members:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17375 entries, 0 to 17374
Data columns (total 6 columns):
msno                      17375 non-null object
city                      17375 non-null int64
bd                        17375 non-null int64
gender                    7772 non-null object
registerd_via             17375 non-null int64
registration_init_time    17375 non-null int64
dtypes: int64(4), object(2)
memory usage: 814.5+ KB

Labels:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17375 entries, 0 to 17374
Data columns (total 2 columns):
msno        17375 non-null object
is_churn    17375 non-null int64
dtypes: int64(1), object(1)
memory usage: 271.6+ KB

Transactions:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282160 entries, 0 to 282159
Data columns (total 9 columns):
msno                      282160 non-null object
payment_method_id         282160 non-null int64
payment_plan_days         282160 non-null int64
plan_list_price           282160 non-null int64
actual_amount_paid        282160 non-null int64
is_auto_renew             282160 non-null int64
transaction_date          282160 non-null int64
membership_expire_date    282160 non-null int64
is_cancel                 282160 non-null int64
dtypes: int64(8), object(1)
memory usage: 19.4+ MB

User Logs:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4883573 entries, 0 to 4883572
Data columns (total 9 columns):
msno          object
date          int64
num_25        int64
num_50        int64
num_75        int64
num_985       int64
num_100       int64
num_unq       int64
total_secs    float64
dtypes: float64(1), int64(7), object(1)
memory usage: 335.3+ MB

All Features:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17375 entries, 0 to 17374
Columns: 115 entries, msno to ('within_days_999', 'num_100', 'mean')
dtypes: float64(56), int64(54), object(5)
memory usage: 15.2+ MB

In [ ]:
user_logs.head()

In [ ]:
members.head()

In [4]:
transactions.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,ynoHZAirdqCE1WTLtSbR4DRBh+d/MCNRQyGJf3etfKQ=,22,410,1788,1788,0,20150108,20160222,0
1,6s+NSU5/dUQPW6V9xofh9MjL1KZpiGb4NSheT1zXmYY=,20,100,480,480,0,20161117,20170225,0
2,ntc5gs/VPO/6H8fOE4cytmRrDz4du8CWIiA1r05BkbI=,20,100,480,480,0,20151011,20160119,0
3,fNl44y6NC4flr2h6lKQvsQN+lOFO5Lm9t8gbb1/XQXQ=,20,100,480,480,0,20150727,20151104,0
4,ypOGEQcfsMHOc3gArywCzV0muy8aM/pm1MBPLTnSmqo=,12,410,1788,1788,0,20151213,20170205,0

In [ ]:
transactions.tail()

In [ ]:
features_all.head()

In [ ]:
transactions.describe()

In [5]:
# Grouping by the member (msno)
transactions_gb = transactions.sort_values(["transaction_date"]).groupby(['msno'])

# How many groups i.e. members i.e. msno's. We're good if this is the same number as the members table
print('%d Groups/msnos' %(len(transactions_gb.groups)))

17375 Groups/msnos

In [6]:
transactions_gb.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
113677,v7y0FbBVGXFXaaDkiatrm6sTtPt1pjB+JcirG8ohDcw=,40,31,149,0,1,20150101,20150205,0
40745,qFIkhCRnrrU0YQVeSJ1Q2h/CoOkccJuscXiGxzbiTiA=,41,30,149,149,1,20150101,20150201,0
7728,xpJ8QLmjEgy6g7QxEMa9L2n80OUNVVqxRx0wOtm5HOA=,37,31,149,149,1,20150101,20150201,0
10791,+bbLXN6CFptKb00CaRn/Adrf+CXsTfNEsWsVSiWH7zA=,38,30,149,149,0,20150101,20150302,0
179367,33b8ZRAtQcjvlze+Eoad9LxHfUiusGPgl4EmPQ3Ts8I=,41,30,149,149,1,20150101,20150202,0
159018,RezInwPOCs7QO2h9ogo7vzp0Dbr9DqWkysZE9tFtfHI=,40,31,149,149,1,20150101,20150203,0
207,vSqFCyy1z0k9L9h9eu8KpKpAcPGAojiLwg6A+zmYgjo=,27,31,149,149,1,20150101,20150202,0
243777,+3RDqkZp1VLy9Gb8xLyO+mmJjXMQTca1vV1DNiv3z7o=,37,31,149,149,1,20150101,20150202,0
83411,9cBmnSynhMPa9HOztDuw+13EzlE+ONk7livSOBGp0VM=,41,30,149,119,1,20150101,20150224,0
114404,GPcFXXSTzyQib0ErdePs/MD3afEMrpynLzcq+PXEuOM=,40,31,149,149,1,20150101,20150201,0
228250,XUpDTZUOQCVbPIQocY4Y+/ZGY0U0fml0LLhJiHu7s9I=,41,30,149,119,1,20150101,20150201,0
104246,UdsqL3jZlSclnaWK0JIj52BmmiFQ/BF4rIKxcKBLzJU=,38,30,149,149,0,20150101,20150131,0
254731,toGW2/NMmMowfcgWGMIpYO/0E+IhUq6X80haAd+7zWQ=,40,31,149,149,1,20150101,20150201,0
89343,PCrL6foG+8CFJdi5F9qvJg/3DY+bv+fhr0SUWka66ps=,41,30,149,119,1,20150101,20150316,0
186244,ymGzASskYokuzEKktPsHVV2/TLZUtGmIcYIG0FGcI8U=,41,30,149,119,1,20150101,20150201,0
158912,TvrX1b8BqCakYYaVGBzfURV4cQuJKfjtF2sGwmZQzrg=,40,31,149,149,1,20150101,20150201,0
17890,AHgs/tGV+JiGdtCi1qX9/IJTt9+aWerydFE1qPNPPyw=,40,31,149,149,1,20150101,20150203,0
54462,jvNj0TkJNnLbn2FEKfIBkoFx4ydcsVZ/U4NbJdRPcsc=,37,31,149,149,1,20150101,20150201,0
179041,2bnwYrO6mILNSbm0cMr9h4wtIrAC20oamiXkfI5tX54=,41,30,149,149,1,20150101,20150201,0
133242,p0btmWQv48OhbmxBn/VAiUdWH5XVDTijq92ij3gHfKg=,41,30,149,149,1,20150101,20160402,0
186018,8Aa5BU0x1jd2k0CqykS0deqPm6hJMTymOTGrzKFnB10=,41,30,149,149,1,20150101,20150202,0
131970,WA4w9rqxS0AjoGFuRuDkdl2V5raaZG7vvRyWCt/hn/A=,41,30,149,119,1,20150101,20150201,0
90580,HjiWkYdDrqMd6ATMa7SgFZ4zKMAKG/Nkm7DxQ9+AiWM=,41,30,149,149,1,20150101,20150201,0
159668,XnpV0KU41wX3hcHFe57GTSbvBIK7PgzF3H8HHS77nY0=,40,31,149,149,1,20150101,20150201,0
235477,uXqyex0syNbtZQlxdSZO0S1db1lTGAV9jMBTDou3XeQ=,24,30,149,149,1,20150101,20150131,0
254985,ffkMI+YNo0aBBODC0PMiLc91b6Q6p3I9NqQlGrdCz7E=,40,31,149,149,1,20150101,20150201,0
227179,CExR0QxCDteoo8R+IjWv+vLExb9nSUsl/oYKFgwmdfg=,41,30,149,149,1,20150101,20150202,0
54415,adTxDSz+r9f1PqwyX2vlT72kU1ytFnNATAmCYk060Js=,37,31,149,149,1,20150101,20150202,0
253880,EUdIfjIX4mkuWs1z400o8yQJdxvT53bAfmSz6AVz//M=,40,31,149,149,1,20150101,20150202,0
274385,LXNhKVGG/0RRsHN9K6DyEXmkiKlo4OP2rs1IpAr2J9Q=,41,30,149,119,1,20150101,20150628,0
...,...,...,...,...,...,...,...,...,...
170353,UAZ3HEhl+6FPfEffxgMeOGjWa2zcoak/dOy3LWoAIFQ=,41,30,99,99,1,20170228,20170331,0
170269,pO/UP1r877YeTY2SUu2bQAZjVZiNibGJvwFzgUpG7sc=,41,30,99,99,1,20170228,20170331,0
141501,JvdIJsCa91eOxx4VZHr7n4Vau3Sf6vE9MzMBAZuqi80=,23,30,149,99,1,20170228,20170331,0
29188,jYFMA3aBcVkcgiB8kBFxUxe5DUBDMdQGRoucB0ZUX1s=,41,30,99,99,1,20170228,20170331,0
116153,icwQ7DROiU9najaLR1de9r+jfwCvsewYOirZ+UqnvX4=,41,30,99,99,1,20170228,20170331,0
68057,t5sCvYq0wYODKKZUxJNYPb9I1YHKq1Jel3A3HcisIBY=,41,30,100,100,1,20170228,20170331,0
266631,crG396MLi8QFf/mPdt0ae9ipCjVGQu+hsS+y579CtME=,41,30,99,99,1,20170228,20170331,0
217741,QuD1WfNCEXOewKvKhFKnPWszZPL/uCGB5NNU68DDKHs=,41,30,99,99,1,20170228,20170331,0
210297,vwySjnD5S2rjxtPu5ehZg+n3suBqJdtSLZZ8b6AnPEg=,41,30,99,99,1,20170228,20170331,0
68784,TC2uhzk1ik5tK5OpezrylkDi5VqmB4mMxOR5m92qE8g=,41,30,99,99,1,20170228,20170331,0
2933,6xvfD1M8JhLXvzRCbSnio2i0gcAAuGE0jJGOo60KCYs=,33,30,149,149,1,20170228,20170331,0
76770,Cj0OWUJA61agZZJT991gR55A4W1ojaXfgcynaYoXsnQ=,41,30,99,99,1,20170228,20170331,0
164240,EMtMHhi7k+epBrgQE8vQcsGlYAx+V62dJ9UUMhmOSxc=,41,30,99,99,1,20170228,20170331,0
217847,wvV3Xttgh/cxBjT0MML8QZNFObB56FSB7Qutv5CKflM=,41,30,99,99,1,20170228,20170331,0
169564,aU29ZX2QA5nhLAvYL2vh90i36CDc0heBPZcVdvQT8t0=,41,30,99,99,1,20170228,20170331,0
114960,MMvM/Vn82N2R6RohNIyE+etbJdc5sdJX9ewr8jNzYfE=,41,30,100,100,1,20170228,20170331,0
31669,4LgtLvy7pZ+9laIzkkDAajSXrIRpOgRpaDkcYsMIZgM=,41,30,99,99,1,20170228,20170331,0
225162,lPLYp6+OBaDHm96H0WL8dEYY7zhTwlePAfBhrxaCMZM=,41,30,149,149,1,20170228,20170331,0
188665,BKdwG/8vPJ8G76x4zO9acfEn5mohE3SAdcN5q6mRW7Y=,23,30,149,99,1,20170228,20170331,0
266067,v6Bs++8sSa7BAqqdqmhY0r6j4cr3U+L2gfrt7HInprw=,41,30,99,99,1,20170228,20170331,0
114956,oee0gGg0g2lXV7tywuLA5Gr9V4hI6k/xNLU14ndtN4Q=,41,30,100,100,1,20170228,20170331,0
217128,yCEyVmZK2UR9jeea6qTvMcH2orkT0ElC5nvYDXp5m6o=,41,30,99,99,1,20170228,20170331,0
174257,oug0iJPHgP36R90CPBpYAMxUGoM2P6K5Y8PD7Saywk8=,41,30,99,99,1,20170228,20170331,0
118615,Zz4IOfQPKC3evqIgs+9tew907XUX8dTzvdW9PwljiZE=,41,30,99,99,1,20170228,20170331,0
24311,YJHI+Nx7jGhMtkCvtMm+UnkLrO0j1bzd7QQZY1/LkKo=,41,30,99,99,1,20170228,20170331,0
100359,1lg2EnOUm153lgbSMCCrvWAqWuDJ2bJPVvt5fEH1q94=,36,30,180,180,1,20170228,20170327,0
210434,t/2kZAlWFrimgvKIZ8HaPdK9zBVhCQBa7+o9HJiW1Tw=,41,30,99,99,1,20170228,20170331,0
101210,BGl9Y0rQLUDf3fOANGT2X9Aw2O4n0XrNVaMJkzOX+XA=,37,30,149,149,1,20170228,20170327,0
261031,AtqudAfScfTNai7MzUKd/ZTIzG9Bs2TJgLsthIWMYMo=,41,30,99,99,1,20170228,20170331,0
126066,L5ax7DdAtiW7qYhQuUbndK5fp8mnEQd71Hajv8rdtRs=,41,30,99,99,1,20170228,20170331,0

Features:
    Plan no of days for the latest transaction
    Plan actual amount paid/day for the latest transaction
    plan total amount paid for the latest transaction
    Is_auto_renew for the latest transaction
    is_cancel for the latest transaction
    Total number of plan days
    Total of all the amounts paid for the plan
    Plan day difference among the latest and previous transaction
    Amount paid/day difference among the latest and previous transaction
    ....

In [7]:
# Features: Total_plan_days, Total_amount_paid
transactions_features = (transactions_gb
    .agg({'payment_plan_days':'sum', 'actual_amount_paid':'sum' })
    .rename(columns={'payment_plan_days': 'Total_plan_days', 'actual_amount_paid': 'Total_amount_paid',})
                      )
transactions_features.head()

,Total_plan_days,Total_amount_paid
msno,,
++L+G2jsvbkHMHlwvb2KQiRLAvB4VyEfjVJTUrs5auE=,720,3725
++XZCubnx3mWCWwaVKNyjfZjYZTysD8qvfPb/QMomeI=,240,1192
++am6f+rLDE3gjQM7pKLVAthwCgaI46WHbTNuKtgpbI=,780,3354
++k5broOoWP/P2WkW2N4C/sXL2bowW56Ep/emCCafeQ=,210,1043
++kqM73xL/v0vqbSItFKWgtEyIkW2POP4c/SEA0WZmw=,180,894

In [10]:
# Features: latest transaction, renaming the collumns
latest_transaction_gb = transactions_gb.tail([1]).rename(columns={'payment_plan_days': 'latest_plan_days', 'actual_amount_paid': 'latest_amount_paid','is_auto_renew': 'latest_auto_renew', 
                                                                  'transaction_date': 'latest_transaction_date',
                                                                  'membership_expire_date': 'latest_expire_date', 'is_cancel': 'latest_is_cancel' })

# Index by msno
latest_transaction_gb.set_index('msno', inplace = True)

# Test
latest_transaction_gb.head()

,payment_method_id,latest_plan_days,plan_list_price,latest_amount_paid,latest_auto_renew,latest_transaction_date,latest_expire_date,latest_is_cancel
msno,,,,,,,,
NRzJYmVfPD9TfCGGP9ai1fHAr69INjKXREgt6ViaYwA=,38,450,1788,1788,0,20150630,20170218,0
GVfMVTbKtQgHkmTaJZq0PSM/49neJxN2CdM/j6SGGNs=,41,30,149,149,1,20150919,20170320,0
NSHsvkXPX2yjnIzWXW373xGMssTh1u26rqRVzHadXR0=,32,410,1788,1788,0,20150923,20170203,0
H3036d7cObAUujRSPEq7xEHJboHgQJ58Kv0zWfJKh0E=,22,395,1599,1599,0,20151013,20170209,0
tT2aF3w8Ox+2bC2GaEU/jp8dVvhhAO5inykLclBtXy8=,32,395,1599,1599,0,20151112,20170213,0

In [11]:
latest_transaction_gb.tail()

,payment_method_id,latest_plan_days,plan_list_price,latest_amount_paid,latest_auto_renew,latest_transaction_date,latest_expire_date,latest_is_cancel
msno,,,,,,,,
PNBiuUY5s+aY7A8L88Q800yOSol3RJ5esloNp3zxZNk=,41,30,99,99,1,20170228,20170331,0
ypCvgiDkRM89xjjA19V4Vk4tyilqRjoCtNi1PmXIffo=,33,30,149,149,1,20170228,20170331,0
erkAT63+JXADIyV7aqfOyuZzWJ8rGKywNkHkqG4ygAw=,41,30,99,99,1,20170228,20170331,0
Mirvl6P6h3HEMrAoNtMSh8LpEtL9vlhX8WoHfDZrZ1E=,33,30,149,149,1,20170228,20170331,0
bZrVmiBVAl/M+3OvpGnnb3JmgTn7eCsbST+JbnrL9hA=,31,30,149,149,1,20170228,20170331,0

In [13]:
# Plan actual amount paid/day for the latest transaction
# Adding the collumn amount_paid_per_day

latest_transaction_gb['amount_paid_per_day'] = (latest_transaction_gb['latest_amount_paid']/latest_transaction_gb['latest_plan_days'])
latest_transaction_gb.head()

,payment_method_id,latest_plan_days,plan_list_price,latest_amount_paid,latest_auto_renew,latest_transaction_date,latest_expire_date,latest_is_cancel,amount_paid_per_day
msno,,,,,,,,,
NRzJYmVfPD9TfCGGP9ai1fHAr69INjKXREgt6ViaYwA=,38,450,1788,1788,0,20150630,20170218,0,3.973333
GVfMVTbKtQgHkmTaJZq0PSM/49neJxN2CdM/j6SGGNs=,41,30,149,149,1,20150919,20170320,0,4.966667
NSHsvkXPX2yjnIzWXW373xGMssTh1u26rqRVzHadXR0=,32,410,1788,1788,0,20150923,20170203,0,4.360976
H3036d7cObAUujRSPEq7xEHJboHgQJ58Kv0zWfJKh0E=,22,395,1599,1599,0,20151013,20170209,0,4.048101
tT2aF3w8Ox+2bC2GaEU/jp8dVvhhAO5inykLclBtXy8=,32,395,1599,1599,0,20151112,20170213,0,4.048101

In [ ]:
# TODO Differences among latest and previous transaction

In [14]:
# Get all features in a single DF
transactions_features = transactions_features.join(latest_transaction_gb, how = 'inner')
transactions_features.head()

,Total_plan_days,Total_amount_paid,payment_method_id,latest_plan_days,plan_list_price,latest_amount_paid,latest_auto_renew,latest_transaction_date,latest_expire_date,latest_is_cancel,amount_paid_per_day
msno,,,,,,,,,,,
++L+G2jsvbkHMHlwvb2KQiRLAvB4VyEfjVJTUrs5auE=,720,3725,38,30,149,149,0,20170216,20170318,0,4.966667
++XZCubnx3mWCWwaVKNyjfZjYZTysD8qvfPb/QMomeI=,240,1192,41,30,149,149,1,20170106,20170107,1,4.966667
++am6f+rLDE3gjQM7pKLVAthwCgaI46WHbTNuKtgpbI=,780,3354,41,30,129,129,1,20170214,20170315,0,4.300000
++k5broOoWP/P2WkW2N4C/sXL2bowW56Ep/emCCafeQ=,210,1043,39,30,149,149,1,20170131,20170311,0,4.966667
++kqM73xL/v0vqbSItFKWgtEyIkW2POP4c/SEA0WZmw=,180,894,41,30,149,149,1,20170123,20170123,1,4.966667

In [15]:
# Export in a pickle file
transactions_features.to_pickle('tf.pkl')